{% extends "partials/layout.html" %} 




{% block navbar %}
{% include "partials/navbar.html" %}
{% endblock navbar %}




{% block sidebar %}
{% include "partials/sidebar.html" %}
{% endblock sidebar %}




{% block content %}
<h2 class="text-center" style="padding: 6% 0% 0% 0%; color: grey;">CHANGE PASSWORD</h2>
    <form action='' method='post' class="col-8" style="margin: 2% 0% 0% 17%; border: 2px solid grey; border-radius: 2vh; padding: 5%;" novalidate>
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1" >Old Password</label>
        <input type="password" class="form-control" name='old_password' placeholder="Enter your password">
        <p>{{form.old_password.errors}}</p>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1" >New Password</label>
        <input type="password" class="form-control" name='new_password1' placeholder="Enter your password">
        <p>{{form.new_password1.errors}}</p>
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1" >confirm New Password</label>
          <input type="password" class="form-control" name='new_password2' placeholder="Re-enter your password">
          <p>{{form.new_password2.errors}}</p>
        </div>
      <button type="submit" class="btn btn-info btn-block">Change Password</button>
      <a href="{% url "dashboard:dashboard_page" %}" class="btn btn-secondary btn-block">Back to HomePage</a>
    </form>
{% endblock content %}




{% block script %}
{% include "partials/script.html" %}
{% endblock script %}