{% extends "partials/layout.html" %}

{% block Navbar %}
{% include "partials/navbar.html" %}
{% endblock Navbar %}

{% block sidebar %}
{% include "partials/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
{% if request.user.is_superuser %}
<h1 class="m-2 text-mute">DashBoard</h1>
<div class="row mt-2">
  
    <!-- ./col -->
    <div class="col-lg-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner pt-5 pb-5">
                <h3>53</h3>


                <h2>Invoice</h2>
            </div>
            <div class="icon"> <i class="ion ion-bag"></i> </div>
        </div>
    </div>
    
    <!-- ./col -->
    <div class="col-lg-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner pt-5 pb-5">
                <h3>44</h3>


                <h2>Invoice</h2>
            </div>
            <div class="icon"> <i class="ion ion-bag"></i> </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner pt-5 pb-5">
                <h3>65</h3>


                <h2>Invoice</h2>
            </div>
            <div class="icon"> <i class="ion ion-bag"></i> </div>
        </div>
    </div>
    <div class="col-lg-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner pt-5 pb-5">
                <h3>65</h3>


                <h2>Invoice</h2>
            </div>
            <div class="icon"> <i class="ion ion-bag"></i> </div>
        </div>
    </div>
    <!-- ./col -->
</div>

<div class="row">
    <div class="col-6">
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="col-6">
        <div>
            <canvas id="myCharttwo"></canvas>
        </div>
    </div>
 </div>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">MEDICINE LIST</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 10px">S.N</th>
                        <th>Medicine Name</th>
                        <th>generic name</th>
                        <th>dosage strength</th>
                        <th>dose form</th>
                        <th>manufacture name</th>
                        <th>manufacture date</th>
                        <th>expiry date</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for i in medicine  %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="#">{{i.name}}</a></td>
                        <td>
                            {{i.generic_name}}
                        </td>
                        <td>{{i.dosage_strength}}</td>
                        <td>{{i.dose_form}}</td>
                        <td>{{i.manufacture_name}}</td>
                        <td>{{i.manufacture_date}}</td>
                        <td>{{i.expiry_date}}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endif %}
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>      
<script>
   const ctx = document.getElementById('myChart');
    new Chart(ctx, {
     type: 'line',
     data: {
       labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
       datasets: [{
         label: '# of Votes',
         data: [12, 19, 3, 5, 2, 3],
         borderWidth: 1
       }]
     },
     options: {
       scales: {
         y: {
           beginAtZero: true
         }
       }
     }
   });
 </script>
 <script>
   const ctxy = document.getElementById('myCharttwo');
    new Chart(ctxy, {
     type: 'bar',
     data: {
       labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
       datasets: [{
         label: '# of Votes',
         data: [12, 19, 3, 5, 2, 3],
         borderWidth: 1
       }]
     },
     options: {
       scales: {
         y: {
           beginAtZero: true
         }
       }
     }
   });
 </script>
{% include "partials/script.html" %}
{% endblock script %}