{% extends "partials/layout.html" %}
        
{% block Navbar %}
{% include "partials/navbar.html" %}
{% endblock Navbar %}
        
{% block sidebar %}
{% include "partials/sidebar.html" %}
{% endblock sidebar %}
                
{% block content %}
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error odit recusandae repellat accusantium voluptatibus ad quae est soluta deleniti. Perspiciatis cumque explicabo porro vel voluptate magnam animi adipisci provident facere?</p>
{% endblock content %}    
            
{% block script %}
{% include "partials/script.html" %}
{% endblock script %}
